h3 INSTRUCTIONS

p.
  You (Player 1) will be playing a card game called <em>Moments@Work</em> with three other
  simulated participants (Player 2, Player 3, and Player 4). After playing the game, you
  will be asked to answer some surveys.


p.
  The Figure below shows the interface of the game. In this game, there are two types of
  cards: Moments (yellow cards) and  Reactions (blue cards). A Moment Card describes a
  situation (<em>i.e.</em> moment) that could happen at work and the Reaction Cards give
  the possible responses or reactions to the moment.

img(src="ui.png", alt="Moments@Work User Interface")#ui

p.
  In each round (<em>e.g.</em>, Round 1), each player is given 7 Reaction Cards. You can
  see your Reaction Cards on the screen, but other players CANNOT see your cards, just
  like you CANNOT see the other players’ Reaction Cards.

p.
  One of the four players will make a decision regarding the BEST Reaction to the Moment
  (<em>i.e.</em>, the <strong>Decider</strong>). The <stron>Decider</strong> is marked
  with a star (<em>e.g.</em>, in the figure, Player 4). You and each of the other players
  selects <strong>one</strong> out of 7 of your and his/her own Reaction cards to submit
  to the Decider. The Decider, of course, does not submit a Reaction Card.

p.
  For example, in the Figure, you select 1 out of your 7 Reaction Cards that you think is
  your BEST response (<em>e.g.</em>, “Claim you were hacked”) to the moment described
  (<em>e.g.</em>, “You’re showing colleagues your vacation photos, but you forgot about
  the nude selfie”). After your selection you will submit that card to the Decider by
  clicking on the Action button.

p.
  <strong>The Decider selects the Reaction Card that he or she thinks is the BEST response
  to the Moment Card</strong>. The player that submitted the winning Reaction Card earns 1
  Point in that round. The role of Decider will rotate clockwise around the group in each
  round. The game will end when you’ve gone through all of the Moment Cards.

p.
  Each of the submitted Reaction Cards is discarded in each round, and <storng>another
  Reaction Card</strong> replaces the card submitted for each player. Each player always
  has 7 Reaction Cards at the start of every new round.

p.
  Your goal is <strong>to collect as many points as possible by the end of the
  game</strong> (shown in the “Your Total Points”). Each point will translate into a
  monetary incentive as advertised. Please note that your attention may be tested multiple
  times during the experiment. If you fail these attention tests twice, you will NOT be 
  eligible for payment.

p.
  On the next pages, you will play two practice rounds, first as <strong>Player
  1</strong>, and second as the <strong>Decider</strong>, before you move on to the real
  game.

.button.enabled#startpractice Click here to PRACTICE
